<div class="account-pages bg-login-img">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">{{'CHANGE_PASSWORD.TITLE' | translate}}</h5>
                </div>
              </div>
              <div class="col-5 align-self-start">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="p-2 mt-3">
              <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3" *ngIf="!isForgotPassword">
                  <label for="curPass">{{'TABLE.CURRENT_PASSWORD' | translate}}</label>
                  <div class="input-group">
                    <input [type]="isShowCurrentPass ? 'text' : 'password'" class="form-control"
                      formControlName="oldPassword" id="curPass"
                      [placeholder]="'PLACEHOLDER.CURRENT_PASSWORD' | translate">
                    <button (click)="showPassword('oldPassword')" class="btn btn-light ms-0" type="button"><i
                        class="far fa-eye"></i></button>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="newPass">{{'TABLE.NEW_PASSWORD' | translate}}</label>
                  <div class="input-group ">
                    <input [type]="isShowPass ? 'text' : 'password'" class="form-control" formControlName="newPassword"
                      [placeholder]="'PLACEHOLDER.NEW_PASSWORD' | translate" id="newPass"
                      (ngModelChange)="onChangeNewPass($event)">
                    <button (click)="showPassword('newPassword')" class="btn btn-light ms-0" type="button"><i
                        class="far fa-eye"></i></button>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="confirmPass">{{'TABLE.CONFIRM_PASSWORD' | translate}}</label>
                  <div class="input-group ">
                    <input [type]="isShowPassConfirm ? 'text' : 'password'" class="form-control" id="confirmPass"
                      formControlName="confirmPassword" [placeholder]="'PLACEHOLDER.CONFIRM_PASSWORD' | translate">
                    <button (click)="showPassword('confirmPassword')" class="btn btn-light ms-0" type="button"><i
                        class="far fa-eye"></i></button>
                  </div>
                </div>

                <div class="mb-3">
                  <h5>{{'FORM.TITLE_REQUIRE_PASS'|translate}}</h5>
                  <h6><span [ngClass]="{'text-success': isPassRequire1}"><i
                        class="fas fa-check-circle me-1"></i></span>{{'FORM.PASS_REQUIRE_1'|translate}}
                  </h6>
                  <h6><span [ngClass]="{'text-success': isPassRequire2}"><i
                        class="fas fa-check-circle me-1"></i></span>{{'FORM.PASS_REQUIRE_2'|translate}}</h6>
                  <h6><span [ngClass]="{'text-success': isPassRequire3}"><i
                        class="fas fa-check-circle me-1"></i></span>{{'FORM.PASS_REQUIRE_3'|translate}}</h6>
                </div>

                <div class="mt-3 d-grid">
                  <button class="btn btn-primary" type="submit">{{'BUTTON.UPDATE_PASSWORD' | translate}}</button>
                </div>
                <div class="mt-4 text-center text-primary">
                  <a [routerLink]="URL.DASHBOARD" class="text-muted"><i class="fas fa-sign-in-alt me-1"></i><span
                      class="text-info">{{'GO_BACK.TITLE' | translate}}</span></a>
                </div>
              </form>
            </div>

          </div>
        </div>
        <!-- <div class="mt-5 text-center">
          <p>Don't have an account ? <a routerLink="#" class="fw-medium text-primary"> Signup now</a> </p>
        </div> -->

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->